<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="button" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
	<div class="title #hide_name#">
		<div class="cmdName">#name_display#</div>
	</div>
	<div class="content-sm ">
		<div class="input-group buttons">
			<span class="input-group-btn" style="position: relative;">
				<a class="btn btn-default btn-sm bt_minusH"><i class="fas fa-minus"></i></a><a class="btn btn-default btn-sm bt_plusH"><i class="fa fa-plus"></i></a>
			</span>
			<input style="width:80px;text-align:center" type="text" class="input-sm show_value form-control" disabled/>
			<input style="width:80px;text-align:center" type="text" class="input-sm in_value form-control hidden" value="#state# #unite#" disabled/>
			<span class="input-group-btn" style="position: relative;">
				<a class="btn btn-default btn-sm bt_minusM"><i class="fas fa-minus"></i></a><a class="btn btn-default btn-sm bt_plusM"><i class="fa fa-plus"></i></a>
			</span>
		</div>
	</div>
	<script>
		// Définition des Min Max pour Heures & Minutes
			// Récupération des valeurs initiales
			var Min = ('#minValue#' == '') ? 0 : '#minValue#';
			var Max = ('#maxValue#' == '') ? 2359 : '#maxValue#';
				if (Min < 0 || Min > Max || Min > 2359){Min = 0;}// Min = 0 si valeur incorrecte
				if (Max > 2359){Max = 2359;}// Max = 2359 si valeur incorrecte
			// Calcul des valeurs MinH et MinM
			var Min_Heure = Math.floor(parseInt(Min) / 100);
			var Min_Minute = parseInt(Min) - Min_Heure * 100;
			var Max_Heure = Math.floor(parseInt(Max) / 100);
			var Max_Minute = parseInt(Max) - Max_Heure * 100;
		// Modification des heures
    		document.querySelector('.cmd[data-cmd_uid="#uid#"] .bt_minusH').addEventListener('click', function() {
				let input = document.querySelector('.cmd[data-cmd_uid="#uid#"] .in_value');
				let step = 100;
				let value = parseFloat(input.value.replace("#unite#", "").replace(" ", "")) - step;
				if (value < Min) {value = Min};
				input.value = value + ' #unite#';
				clearTimeout(window['timerHandle#id#']);
				window['timerHandle#id#'] = setTimeout(function() {
					jeedom.cmd.execute({id:'#id#', value:{slider:value}});
				}, 1000);
			});
    		document.querySelector('.cmd[data-cmd_uid="#uid#"] .bt_plusH').addEventListener('click', function() {
				let input = document.querySelector('.cmd[data-cmd_uid="#uid#"] .in_value');
				let step = 100;
				let value = parseFloat(input.value.replace("#unite#", "").replace(" ", "")) + step;
				if (value > Max) {value = Max};
				input.value = value + ' #unite#';
				clearTimeout(window['timerHandle#id#']);
				window['timerHandle#id#'] = setTimeout(function() {
					jeedom.cmd.execute({id:'#id#', value:{slider:value}});
				}, 1000);
			});
		// Modification des minutes
    		document.querySelector('.cmd[data-cmd_uid="#uid#"] .bt_minusM').addEventListener('click', function() {
				let input = document.querySelector('.cmd[data-cmd_uid="#uid#"] .in_value');
				let step = 1;
				let value = parseFloat(input.value.replace("#unite#", "").replace(" ", "")) - step;
				if (value.toString().slice(-2) > 59) {value = value - 40};
				if (value < Min) {value = Min};
				input.value = value + ' #unite#';
				clearTimeout(window['timerHandle#id#']);
				window['timerHandle#id#'] = setTimeout(function() {
					jeedom.cmd.execute({id:'#id#', value:{slider:value}});
				}, 1000);
			});
    		document.querySelector('.cmd[data-cmd_uid="#uid#"] .bt_plusM').addEventListener('click', function() {
				let input = document.querySelector('.cmd[data-cmd_uid="#uid#"] .in_value');
				let step = 1;
				let value = parseFloat(input.value.replace("#unite#", "").replace(" ", "")) + step;
				if (value.toString().slice(-2) > 59) {value = value + 40};
				if (value > Max) {value = Max};
				input.value = value + ' #unite#';
				clearTimeout(window['timerHandle#id#']);
				window['timerHandle#id#'] = setTimeout(function() {
					jeedom.cmd.execute({id:'#id#', value:{slider:value}});
				}, 1000);
			});
		// Fonction update
			jeedom.cmd.addUpdateFunction('#id#',function(_options) {
				// Affichage des heures et des minutes sous forme de chaine de caractères
				if (_options.display_value >= 0) {
					$('.cmd[data-cmd_uid=#uid#] .in_value').val(_options.display_value); // Mise à jour de la valeur
					// Calcul des valeurs heure et minute
					heure = Math.floor(parseInt(_options.display_value) / 100);
					minute = parseInt( _options.display_value) - heure * 100;
					// Création de la chaîne finale
					heure = (heure < 10) ? "0" + heure : heure;
					minute = (minute < 10) ? "0" + minute : minute;
					chaine = heure + "h" + minute;
					// Mise a jour de la valeur
					$('.cmd[data-cmd_uid=#uid#] .show_value').val(chaine);
				}
			});
			jeedom.cmd.refreshValue([{cmd_id :'#id#', display_value:'#state#', valueDate:'#valueDate#', collectDate:'#collectDate#', alertLevel:'#alertLevel#', unit:'#unite#'}]);
	</script>
</div>