<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="button" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
	<div class="cmdName #hide_name#">#name_display#</div>
	<div data-role="controlgroup" data-type="horizontal">
		<a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised bt_minusminus" style="padding:0.7em 0.78em;"><i class="fas fa-minus"></i></a><a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised bt_minus" style="padding:0.7em 0.78em;"><i class="fas fa-minus"></i></a>
		<input style="text-align:center !important" type="text" class="value" data-mini="true" value="#state# #unite#" data-wrapper-class="controlgroup-textinput ui-btn"/>
		<a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised bt_plus" style="padding:0.7em 0.78em;"><i class="fa fa-plus"></i></a><a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised bt_plusplus" style="padding:0.7em 0.78em;"><i class="fa fa-plus"></i></a>
	</div>
	<script>
	if ('#big_change#'.toLowerCase() == 'oui') {$('.cmd[data-cmd_uid=#uid#] .bt_minusminus').show();} else {$('.cmd[data-cmd_uid=#uid#] .bt_minusminus').hide();}
	if ('#big_change#'.toLowerCase() == 'oui') {$('.cmd[data-cmd_uid=#uid#] .bt_plusplus').show();} else {$('.cmd[data-cmd_uid=#uid#] .bt_plusplus').hide();}

	var step = (domUtils.issetWidgetOptParam('#step#', 'step')) ? parseFloat('#step#') : 1;

    document.querySelector('.cmd[data-cmd_uid="#uid#"] .bt_plusplus').addEventListener('click', function() {
		let input = document.querySelector('.cmd[data-cmd_uid="#uid#"] .value');
		let step = 60;
		let value = parseFloat(input.value.replace("#unite#", "").replace(" ", "")) + step;
		if (value > parseFloat('#maxValue#')) {value = parseFloat('#maxValue#')};
		input.value = value + ' #unite#';
		clearTimeout(window['timerHandle#id#']);
		window['timerHandle#id#'] = setTimeout(function() {
			jeedom.cmd.execute({id:'#id#', value:{slider:value}});
		}, 1000);
	});

    document.querySelector('.cmd[data-cmd_uid="#uid#"] .bt_plus').addEventListener('click', function() {
		let input = document.querySelector('.cmd[data-cmd_uid="#uid#"] .value');
		let value = parseFloat(input.value.replace("#unite#", "").replace(" ", "")) + step;
		if (value > parseFloat('#maxValue#')) {value = parseFloat('#maxValue#')};
		input.value = value + ' #unite#';
		clearTimeout(window['timerHandle#id#']);
		window['timerHandle#id#'] = setTimeout(function() {
			jeedom.cmd.execute({id:'#id#', value:{slider:value}});
		}, 1000);
	});

    document.querySelector('.cmd[data-cmd_uid="#uid#"] .bt_minus').addEventListener('click', function() {
		let input = document.querySelector('.cmd[data-cmd_uid="#uid#"] .value');
		let value = parseFloat(input.value.replace("#unite#", "").replace(" ", "")) - step;
		if (value < parseFloat('#minValue#')) {value = parseFloat('#minValue#')};
		input.value = value + ' #unite#';
		clearTimeout(window['timerHandle#id#']);
		window['timerHandle#id#'] = setTimeout(function() {
			jeedom.cmd.execute({id:'#id#', value:{slider:value}});
		}, 1000);
	});

    document.querySelector('.cmd[data-cmd_uid="#uid#"] .bt_minusminus').addEventListener('click', function() {
		let input = document.querySelector('.cmd[data-cmd_uid="#uid#"] .value');
		let step = 60;
		let value = parseFloat(input.value.replace("#unite#", "").replace(" ", "")) - step;
		if (value < parseFloat('#minValue#')) {value = parseFloat('#minValue#')};
		input.value = value + ' #unite#';
		clearTimeout(window['timerHandle#id#']);
		window['timerHandle#id#'] = setTimeout(function() {
			jeedom.cmd.execute({id:'#id#', value:{slider:value}});
		}, 1000);
	});

	jeedom.cmd.addUpdateFunction('#id#',function(_options) {
		$('.cmd[data-cmd_uid=#uid#] .value').val(_options.display_value+' #unite#');
	});
	jeedom.cmd.refreshValue([{cmd_id :'#id#', display_value:'#state#', valueDate:'#valueDate#', collectDate:'#collectDate#', alertLevel:'#alertLevel#', unit:'#unite#'}]);
	</script>
	<style>
	.controlgroup-textinput{
		padding-top:.50em;
		padding-bottom:.12em;
	}
	</style>
</div>
