<span class="cmd cmd-widget cursor" data-type="action" data-subtype="other" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
	<div class="cmdName #hide_name#">#valueName#</div><!-- #valueName# pour le nom de la commande actionnée / #name_display# pour le nom de la commande -->
	<div id="imgCmd#id#" class="imgCmd" style="display:inline-block;margin:2px;"></div>
	<script>
	jeedom.cmd.update['#id#'] = function(_options){
		var cmd = $('.cmd[data-cmd_id=#id#]');
		if (_options.display_value == '1' || _options.display_value == 1 || _options.display_value == '99' || _options.display_value == 99 || _options.display_value == 'on') {
			if (jeedom.cmd.normalizeName('#name#') == 'on') {
				cmd.hide();
			} else {
				cmd.show();
				cmd.find('.imgCmd').empty().append('<span class="cmd" style="background:var(--al-success-color) !important;padding:4px;line-height:30px;border-radius:3px;border-style:outset;border-color:var(--al-success-color) !important;color:var(--sc-lightTxt-color) !important;">#valueName#</span>');
			}
		} else {
			if (jeedom.cmd.normalizeName('#name#') == 'off') {
				cmd.hide();
			}else{
				cmd.show();
				cmd.find('.imgCmd').empty().append('<span class="cmd" style="background:var(--al-danger-color) !important;padding:4px;line-height:30px;border-radius:3px;border-style:inset;border-color:var(--al-danger-color) !important;color:var(--sc-lightTxt-color) !important;">#valueName#</span>');
			}
		}
	}
	jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
	$('.cmd[data-cmd_uid=#uid#] .imgCmd').off().on('click', function () {
		jeedom.cmd.execute({id: '#id#'});
	});
	</script>
</span>
